@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --white-clr: #fff;
  --black-clr: #000;
  --orange-clr: #e96c38;
  --grey-clr: #636363;
  --light-grey: #cacaca;
  --dawn-pink: #fae7e5;
  --froest-min: #dcfef9;

  --fs-xlarge: 3rem;
  --fs-large: 2rem;
  --fs-medium: 1rem;
  --fs-small: 0.875rem;

  --space-xlarge: 3rem;
  --space-large: 2rem;
  --space-medium: 1rem;
  --space-small: 0.5rem;

  --margin-xlarge: var(--space-xlarge);
  --margin-large: var(--space-large);
  --margin-medium: var(--space-medium);
  --margin-small: var(--space-small);

  --padding-xlarge: var(--space-xlarge);
  --padding-large: var(--space-large);
  --padding-medium: var(--space-medium);
  --padding-small: var(--space-small);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-clr);
}

p {
  color: var(--grey-clr);
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
/* button classes */
.btn {
  background-color: var(--orange-clr);
  color: var(--white-clr);
  outline: none;
  padding: 0.8rem 1.3rem;
  border: none;
  color: var(--white-clr);
  border-radius: 999px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s linear;
  margin: 0.3rem;
}

.btn:hover {
  transform: translateY(-2px);
}

.secondray-btn {
  background-color: transparent;
  border: 2px solid var(--orange-clr);
  color: var(--orange-clr);
}
/* button classes */

html {
  scroll-behavior: smooth;
}

/* header navbar section */
header {
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.068);
}
.navbar {
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #636363; */
  padding: 1.5rem;
}

.navbar .logo-txt {
  color: var(--orange-clr);
  font-weight: 800;
  font-size: 1.3rem;
}

.navbar .logo-txt span {
  color: var(--black-clr);
}

.navbar .nav-links {
  display: flex;
  gap: 1.9rem;
}

.nav-links li a {
  color: var(--black-clr);
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.3s linear;
}

.nav-links li .active,
.nav-links li a:hover {
  color: var(--orange-clr);
}

.nav-icons {
  display: flex;
  gap: 1rem;
}

.nav-icons .icon {
  background-color: var(--orange-clr);
  color: var(--white-clr);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s linear;
}

.nav-icons .icon:hover {
  border: 2px solid var(--orange-clr);
  background-color: var(--white-clr);
  color: var(--orange-clr);
  transform: translateY(-2px);
}

/* mobile menu */

.menu {
  cursor: pointer;
  display: none;
}

main {
  width: 100%;
  overflow: hidden;
}

/* hero-section */

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  animation: fadeInUp 1s ease forwards;
}
.content {
  flex: 1;
  position: relative;
  /* animation: fadeInUp 1s ease forwards; */
}
.content::before {
  content: "";
  position: absolute;
  z-index: -9;
  top: 10px;
  left: -100px;
  width: 500px;
  height: 300px;
  border-radius: 50%;
  filter: blur(100px);
  background-color: var(--dawn-pink);
}

.content h1 {
  margin-bottom: 1.2rem;
  font-size: var(--fs-xlarge);
}
.content p {
  color: var(--grey-clr);
  margin-bottom: 1.3rem;
}

.content .watch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-bottom: 1.2rem;
}
.content .watch a {
  background-color: var(--orange-clr);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-clr);
  border-radius: 50%;
}

.img-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: var(--froest-min);
  filter: blur(100px);
  z-index: -9;
  width: 600px;
  height: 200px;
  left: 100px;
}

img {
  max-width: 100%;
  height: auto;
  /* background-color: navajowhite; */
}

/* store section */
.store-section {
  margin-top: 13rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
   animation: fadeInUp 1s ease forwards;
}

.section-header {
  text-align: center;
}

.section-header h3 {
  font-size: 1.3rem;
  font-weight: 800;
}

.section-header p {
  /* text-align: center; */
  max-width: 600px;
  margin: auto;
  font-size: 0.9rem;
}

.card-container {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 6rem;
  
}

.card-container .card-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.094);
  padding: 1.1rem 3.3rem;
  border-radius: 5px;
}
/* about */
.about-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 13rem;
  animation: fadeInUp 1s ease forwards;
  animation-timeline: initial;
}

.img-containe {
  width: 100%;
}

.about-content h3,
p {
  margin-bottom: 1.1rem;
}

.about-content h3 {
  font-size: var(--fs-large);
}
.about-content p {
  font-size: 0.9rem;
}

/* featured-section */

.featured-section {
  margin-top: 13rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 3rem;
}

.grid-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
  border-radius: 5px;
  padding-bottom: 1rem;
}

.grid-img {
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.grid-img img {
  border-radius: 5px;
  
}
.grid-content {
  text-align: center;
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
